<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!-- This camel context is specific to this integration server plugin -->
	<camel:camelContext id="ep-camel-import"
		trace="${camel.import.context.trace.enabled:false}">
		<!-- Log the entire message body when using the Tracer -->
		<camel:properties>
			<camel:property key="CamelLogDebugBodyMaxChars" value="0" />
		</camel:properties>

		<camel:routeBuilder ref="camelImportRoute" />
		<camel:routeBuilder ref="notifyCamelImportErrorRoute" />
	</camel:camelContext>

	<!-- The camelEndpointFactoryBean is also specific to the camel context -->
	<bean id="camelEndpointFactoryBean.ep-camel-import" abstract="true"
		class="org.apache.camel.spring.CamelEndpointFactoryBean">
		<property name="camelContextId" value="ep-camel-import" />
	</bean>
</beans>